body{
    background-image: url(img/backgroundAll.jpg);
    background-size:  100%;
    background-repeat: no-repeat;
}
.main{
    margin-left:35%;
    background:#FFFFF9;
    width: 302px;
    height:595px;
    border:2px solid gray;
    border-radius: 10px;
    background-size:100%;
}
#enem{
    width:300px;
    height:340px;
    border: 1px solid black;
    background-image:url(img/background.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
#enemy{
    width:90%;
    height:91%;
	margin-left:5%;
	margin-top:5%;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
#score{
    position: absolute;
    left: 500px;
}
#sword{
    width:60px;
    height:60px;
    border: 1px solid black;
    background-image:url(img/sword.png);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    display:none;
    position:absolute;
	margin-top:22px;
}
#bow{
    width:60px;
    height:60px;
    border: 1px solid black;
    background-image:url(img/bow.png);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    display:none;
    position:absolute;
    margin-top: 85px;
}
#torch{
    width:60px;
    height:60px;
    border: 1px solid black;
    background-image:url(img/torch.png);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    display:none;
    position:absolute;
    margin-left:63px;
    margin-bottom: 60px;
	margin-top:22px;
}
#axe{
    width:60px;
    height:60px;
    border: 1px solid black;
    background-image:url(img/axe.png);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    display:none;
    position:absolute;
    margin-left:63px;
    margin-top: 85px;
}
#gold{
    width:60px;
    height:60px;
    border: 1px solid black;
    background-image:url(img/gold.png);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    display:none;
    position:absolute;
    margin-left:239px;
    margin-top: 22px;
}
#hp{
    width:100px;
    height:10px;
    background:red;
}
#swordup{
	display:none;
	position:absolute;
	margin-left:51px;
}
#mouseup{
	position:absolute;
	
}
#bowup{
	display:none;
	position:absolute;
	margin-left:110px;
}
#torchup{
	display:none;
	position:absolute;
	margin-left:158px;
}
#axeup{
	display:none;
	position:absolute;
	margin-left:211px;
}
#goldup{
	display:none;
	position:absolute;
	margin-left:254px;
}